h1{
    font-family:"Times New Roman", Arial;
    font-size: 25px;
    color: #FDFEFE;
}

h2
{
    font-family:"Times New Roman", Arial;
    font-size: 20px;
    color: #FDFEFE;  
}

h3{
    font-family: "Times New Roman", Arial;
    font-size: 20px;
}

nav, ul {
    font-family: Arial, "Times New Roman";
    font-size: 16px;
    color: #7D3C98;
}

h4{
    font-family: "Times New Roman", Arial;
    font-size: 25px;
}

h5{
    font-family: "Times New Roman", Arial;
    font-size: 20px;
    color: #641E16;
}

figcaption{
    font-family: Arial, "Times New Roman";
    font-size: 10px;
}

p{
    font-family: Arial, "Times New Roman";
}
ol {
     font-family: Arial, "Times New Roman";
}

form{
    font-family: Arial, "Times New Roman";
}

<style type="text/css">
    /*<![CDATA[*/
<!--
div.ic_myCarousel {
    margin: 20px auto 0 auto;
    clear:right;
}
.infiniteCarousel {
    box-shadow: 0px 3px 3px #333;
    border: 3px solid #333;
}
.ic_left_nav, .ic_right_nav {
    display: none;
}
-->
    /*]]>*/
</style>
 
